<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:54:15</td>   <td>0</td> <td title="&gt;&gt;ConsumerWebBaseClass.setUp()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:54:15</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CardsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:54:23</td>   <td>7877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifySuccessfulLogin</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:54:35</td>   <td>20117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:54:35</td>   <td>20136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyUserCanAccessCardsPage()[pri:1, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifyUserCanAccessCardsPage</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:54:38</td>   <td>22263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:54:38</td>   <td>22264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyUserAddCardLimits()[pri:3, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifyUserAddCardLimits</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:54:52</td>   <td>36818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:54:52</td>   <td>36819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyAddCardLimits()[pri:4, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifyAddCardLimits</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:55:06</td>   <td>50430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:55:06</td>   <td>50432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyCanSeeCardLimitsUnderDetails()[pri:5, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifyCanSeeCardLimitsUnderDetails</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:55:13</td>   <td>57812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:55:13</td>   <td>57813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyCardAliasIsDisplaued()[pri:6, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifyCardAliasIsDisplaued</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:55:30</td>   <td>74494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:55:30</td>   <td>74495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyEditCardLimits()[pri:7, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifyEditCardLimits</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:55:53</td>   <td>98172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:55:54</td>   <td>98589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyCardDetailsAreShwon()[pri:8, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifyCardDetailsAreShwon</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:56:06</td>   <td>110627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:56:06</td>   <td>110629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyLimitNotHigherThanBankLimit()[pri:9, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">verifyLimitNotHigherThanBankLimit</td> 
  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:56:31</td>   <td>135302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="d88769">  <td>22/03/04 11:56:31</td>   <td>135591</td> <td>&nbsp;</td><td title="&lt;&lt;CardsPageTest.shutdown()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>22/03/04 11:56:32</td>   <td>136979</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@759d26fb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1138410383</td>   <td></td> </tr>
</table>
