<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Main Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:11:16</td>   <td>0</td> <td title="&gt;&gt;ConsumerWebBaseClass.setUp()[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="897b9a">  <td>22/03/02 11:11:16</td>   <td>154</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="897b9a">  <td>22/03/02 11:11:27</td>   <td>10610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyUserWithValidUserNameEmptyPassCannotLogin()[pri:0, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">verifyUserWithValidUserNameEmptyPassCannotLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:11:29</td>   <td>12899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="897b9a">  <td>22/03/02 11:11:29</td>   <td>12907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyUnregisteredUserNotAbleToLogin()[pri:1, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">verifyUnregisteredUserNotAbleToLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:11:29</td>   <td>13142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="897b9a">  <td>22/03/02 11:11:29</td>   <td>13143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyUserAllowedToLandOnACertainURL()[pri:2, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">verifyUserAllowedToLandOnACertainURL</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:11:42</td>   <td>25830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="897b9a">  <td>22/03/02 11:11:43</td>   <td>26482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifySuccessfulLoginTOQ83()[pri:3, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">verifySuccessfulLoginTOQ83</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:11:53</td>   <td>36878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="897b9a">  <td>22/03/02 11:11:53</td>   <td>36880</td> <td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:11:54</td>   <td>38139</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.LoginPageTest@2b48a640]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:11:55</td>   <td>38474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AccountsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:12:02</td>   <td>45830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:12:15</td>   <td>58384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:12:15</td>   <td>58385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanAccessToTheAccountsPage()[pri:1, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanAccessToTheAccountsPage</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:12:25</td>   <td>68425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:12:25</td>   <td>68426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyCancelledAccountsAreShownInAccountsSubDashboard()[pri:2, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyCancelledAccountsAreShownInAccountsSubDashboard</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:12:25</td>   <td>68998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:12:25</td>   <td>68999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanseeAccountBalanceinTheAccountsPage()[pri:3, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanseeAccountBalanceinTheAccountsPage</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:12:35</td>   <td>79031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:12:35</td>   <td>79033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyWeHaveAddAnAccountButton()[pri:4, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyWeHaveAddAnAccountButton</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:12:45</td>   <td>89065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:12:45</td>   <td>89066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanSeeTotalBalanceInDifferentCurrencies()[pri:5, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanSeeTotalBalanceInDifferentCurrencies</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:13:48</td>   <td>151960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:13:49</td>   <td>152308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyDirectorWithOneAccountCanCreateAnAccount()[pri:6, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyDirectorWithOneAccountCanCreateAnAccount</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:13:59</td>   <td>162395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:13:59</td>   <td>162396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanAddAccountWhenAccountsPageIsInListDisplay()[pri:7, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanAddAccountWhenAccountsPageIsInListDisplay</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:14:18</td>   <td>181605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:14:18</td>   <td>181606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyWhenIClickOnaPaymentFromAnAccPayFromWillBeTheAccount()[pri:8, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyWhenIClickOnaPaymentFromAnAccPayFromWillBeTheAccount</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:14:30</td>   <td>193993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:14:31</td>   <td>194365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyFilterMovementsIsAddedToGlobalMovements()[pri:9, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyFilterMovementsIsAddedToGlobalMovements</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:14:34</td>   <td>197522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:14:34</td>   <td>197523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanAccessFilter()[pri:10, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanAccessFilter</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:15:37</td>   <td>260501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:15:37</td>   <td>261033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanClearFilters()[pri:11, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanClearFilters</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:15:38</td>   <td>262093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:15:39</td>   <td>262402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyAccountAaccountInfoWasAddedToTile()[pri:12, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyAccountAaccountInfoWasAddedToTile</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:15:40</td>   <td>263470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:15:40</td>   <td>263781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyAccountDetailsOptionOnAnyAccountTakesUserToTheAccountDetailsPage()[pri:13, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyAccountDetailsOptionOnAnyAccountTakesUserToTheAccountDetailsPage</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:15:41</td>   <td>264829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:15:41</td>   <td>265137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyThatCopyAccountDetailsFuncionalityWasAddedToSMEWeb()[pri:14, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyThatCopyAccountDetailsFuncionalityWasAddedToSMEWeb</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:15:51</td>   <td>275204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:15:52</td>   <td>275616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyaddAnAccountOptionNavigatesToNewAccountPage()[pri:15, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyaddAnAccountOptionNavigatesToNewAccountPage</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:15:53</td>   <td>276660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:15:53</td>   <td>276979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyThereISLimitToAccountAliasTo25Characters()[pri:16, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyThereISLimitToAccountAliasTo25Characters</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:15:54</td>   <td>278072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:15:55</td>   <td>278401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyWeHaveCreateAccountFormInConsumer()[pri:17, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyWeHaveCreateAccountFormInConsumer</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:15:56</td>   <td>279460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:15:56</td>   <td>279829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifySMERedirectsUserToTheCreatedAccountMovementsPage()[pri:18, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifySMERedirectsUserToTheCreatedAccountMovementsPage</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:16:06</td>   <td>290063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:16:07</td>   <td>290536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.VerifyNewlyCreatedAccountShowsTheCorrectAccountDetails()[pri:19, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">VerifyNewlyCreatedAccountShowsTheCorrectAccountDetails</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:17:10</td>   <td>354088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:17:11</td>   <td>355175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyCopyUpdates()[pri:20, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyCopyUpdates</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:18:14</td>   <td>417907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:18:15</td>   <td>418494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyCountryCodeWasRemoved()[pri:21, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyCountryCodeWasRemoved</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:18:25</td>   <td>428538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:18:25</td>   <td>429211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanDeleteAnAccount()[pri:22, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanDeleteAnAccount</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:19:28</td>   <td>491965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:19:29</td>   <td>492579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanCopyAccountDetails()[pri:23, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanCopyAccountDetails</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:20:34</td>   <td>557750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:20:35</td>   <td>558494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyBankStatementCopyIsReplaced()[pri:24, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyBankStatementCopyIsReplaced</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:21:40</td>   <td>623897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:21:41</td>   <td>624846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanDownloadBankStatement()[pri:25, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanDownloadBankStatement</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:22:46</td>   <td>690023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:22:47</td>   <td>691227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanSeeAccountDetails()[pri:26, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanSeeAccountDetails</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:23:53</td>   <td>756656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:23:54</td>   <td>757458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountsPageTest.verifyUserCanMakeAPayment()[pri:27, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">verifyUserCanMakeAPayment</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:24:59</td>   <td>822706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>22/03/02 11:25:00</td>   <td>823423</td> <td>&nbsp;</td><td title="&lt;&lt;AccountsPageTest.tearDown()[pri:0, instance:com.consumerweb.Testcases.AccountsPageTest@58695725]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:25:00</td>   <td>823628</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExpensesPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:25:27</td>   <td>851247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:25:42</td>   <td>865873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:25:42</td>   <td>865873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyExpensesPageIsDisplayed()[pri:1, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyExpensesPageIsDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:25:56</td>   <td>879481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:25:56</td>   <td>879918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyPersonExpenseDetailsAreDisplayed()[pri:2, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyPersonExpenseDetailsAreDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:26:06</td>   <td>890020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:26:07</td>   <td>890351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyCategoryListIsDisplayed()[pri:3, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyCategoryListIsDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:26:27</td>   <td>910891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:26:27</td>   <td>911235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyACategoryDetailsAreDisplayed()[pri:4, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyACategoryDetailsAreDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:26:38</td>   <td>921360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:26:38</td>   <td>921665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyExpenseDetailsISDisplayed()[pri:5, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyExpenseDetailsISDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:26:58</td>   <td>942250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:26:59</td>   <td>942566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyUserCanAddAReceiptToAnExpense()[pri:6, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyUserCanAddAReceiptToAnExpense</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:27:29</td>   <td>973260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:27:30</td>   <td>973590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyUserCanDeleteAreceipt()[pri:7, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyUserCanDeleteAreceipt</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:27:50</td>   <td>994136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:27:51</td>   <td>994451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyUserCanAddPurchaseInvoice()[pri:8, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyUserCanAddPurchaseInvoice</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:28:11</td>   <td>1015026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:28:12</td>   <td>1015343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyUserCanSelectNewCurrency()[pri:9, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyUserCanSelectNewCurrency</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:28:34</td>   <td>1038067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:28:35</td>   <td>1038400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyUserCanAddNewExpense()[pri:10, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyUserCanAddNewExpense</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:28:57</td>   <td>1061156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:28:58</td>   <td>1061493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyUserCanDeleteExpense()[pri:11, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyUserCanDeleteExpense</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:29:10</td>   <td>1073638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:29:10</td>   <td>1073638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyUserCanUploadAReceipt()[pri:12, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyUserCanUploadAReceipt</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:29:24</td>   <td>1087297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:29:24</td>   <td>1087298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExpensesPageTest.verifyUserCanScanAreceipt()[pri:13, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">verifyUserCanScanAreceipt</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:29:46</td>   <td>1110031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="95e8a7">  <td>22/03/02 11:29:47</td>   <td>1110357</td> <td>&nbsp;</td><td title="&lt;&lt;ExpensesPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:29:48</td>   <td>1111768</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.ExpensesPageTest@2ed2d9cb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>22/03/02 11:29:48</td>   <td>1111881</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CardsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>22/03/02 11:29:55</td>   <td>1119002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:30:08</td>   <td>1132057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>22/03/02 11:30:08</td>   <td>1132058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyCardsPageIsDisplayed()[pri:1, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">verifyCardsPageIsDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:30:18</td>   <td>1142193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>22/03/02 11:30:19</td>   <td>1142567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyMyCardsPageIsDisplayed()[pri:2, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">verifyMyCardsPageIsDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:30:29</td>   <td>1152716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>22/03/02 11:30:30</td>   <td>1153367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyUserCanIssueAVirtualCard()[pri:3, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">verifyUserCanIssueAVirtualCard</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:30:40</td>   <td>1163379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>22/03/02 11:30:40</td>   <td>1164116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyUserCanIssueAPhysicalCard()[pri:4, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">verifyUserCanIssueAPhysicalCard</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:30:55</td>   <td>1179168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>22/03/02 11:30:56</td>   <td>1179709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CardsPageTest.verifyUserCanViewCardDetails()[pri:5, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">verifyUserCanViewCardDetails</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:31:08</td>   <td>1192267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>22/03/02 11:31:09</td>   <td>1192581</td> <td>&nbsp;</td><td title="&lt;&lt;CardsPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:31:10</td>   <td>1193809</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.CardsPageTest@6e0f5f7f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>22/03/02 11:31:10</td>   <td>1193899</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PeoplePageTest.setup()[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>22/03/02 11:31:17</td>   <td>1201197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PeoplePageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:31:30</td>   <td>1213772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>22/03/02 11:31:30</td>   <td>1213773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PeoplePageTest.verifyPeoplePageIsDisplayed()[pri:1, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">verifyPeoplePageIsDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:31:40</td>   <td>1223951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>22/03/02 11:31:40</td>   <td>1224273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PeoplePageTest.verifyInvitedTabIsDisplayed()[pri:2, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">verifyInvitedTabIsDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:31:51</td>   <td>1234531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>22/03/02 11:31:51</td>   <td>1234531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PeoplePageTest.verifyUserCanAddAnAccountOwner()[pri:3, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">verifyUserCanAddAnAccountOwner</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:32:54</td>   <td>1297299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>22/03/02 11:32:54</td>   <td>1297589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PeoplePageTest.verifyUserCanAddACardHolder()[pri:4, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">verifyUserCanAddACardHolder</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:33:54</td>   <td>1357720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>22/03/02 11:33:54</td>   <td>1358019</td> <td>&nbsp;</td><td title="&lt;&lt;PeoplePageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:33:56</td>   <td>1359306</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.PeoplePageTest@6404f418]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:33:56</td>   <td>1359386</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:34:02</td>   <td>1365721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:34:15</td>   <td>1378311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:34:15</td>   <td>1378312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanAccessPaymentsManagementPage()[pri:1, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanAccessPaymentsManagementPage</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:34:15</td>   <td>1378539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:34:15</td>   <td>1378539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyAmountAndDetailsPageInNewPaymentForm()[pri:2, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyAmountAndDetailsPageInNewPaymentForm</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:34:15</td>   <td>1378716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:34:15</td>   <td>1378716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyAuserCanChooseOriginAccount()[pri:3, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyAuserCanChooseOriginAccount</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:34:25</td>   <td>1388889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:34:25</td>   <td>1388890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyCopyUpdatesRelatedToMultiaccount()[pri:4, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyCopyUpdatesRelatedToMultiaccount</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:34:26</td>   <td>1389937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:34:26</td>   <td>1389937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifysBenFirstAndLastNameDoesNotAcceptSpecialCharacters()[pri:5, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifysBenFirstAndLastNameDoesNotAcceptSpecialCharacters</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:35:30</td>   <td>1453796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:35:30</td>   <td>1454122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyPaymentStatementIsAttachedToAPayment()[pri:6, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyPaymentStatementIsAttachedToAPayment</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:35:34</td>   <td>1458210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:35:34</td>   <td>1458211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanSeeUpdatedBeneficiaryDetail()[pri:7, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanSeeUpdatedBeneficiaryDetail</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:35:38</td>   <td>1462256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:35:38</td>   <td>1462257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanViewFailedPayments()[pri:8, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanViewFailedPayments</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:35:49</td>   <td>1472351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:35:49</td>   <td>1472351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanViewScheduledOutboundPayments()[pri:9, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanViewScheduledOutboundPayments</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:35:59</td>   <td>1482483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:35:59</td>   <td>1482483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanViewRecentPayments()[pri:10, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanViewRecentPayments</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:36:09</td>   <td>1492637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:36:09</td>   <td>1492638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanSelectPaymentSchemeForSameCurrencyPayments()[pri:11, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanSelectPaymentSchemeForSameCurrencyPayments</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:36:22</td>   <td>1505487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:36:22</td>   <td>1505487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanCreateSpanishBeneficiary()[pri:13, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanCreateSpanishBeneficiary</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:36:33</td>   <td>1516783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:36:33</td>   <td>1517090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanCreateUKBeneficiary()[pri:14, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanCreateUKBeneficiary</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:36:50</td>   <td>1533404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:36:50</td>   <td>1533679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyTransactionDetailHasPaymentScheme()[pri:15, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyTransactionDetailHasPaymentScheme</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:36:53</td>   <td>1536970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:36:53</td>   <td>1536971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsPageTest.verifyUserCanViewBeneficiaryList()[pri:16, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">verifyUserCanViewBeneficiaryList</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:37:17</td>   <td>1560651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/03/02 11:37:17</td>   <td>1560651</td> <td>&nbsp;</td><td title="&lt;&lt;PaymentsPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:37:18</td>   <td>1562042</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.PaymentsPageTest@659499f1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="d9a273">  <td>22/03/02 11:37:18</td>   <td>1562095</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NotificationsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.NotificationsPageTest@1151e434]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="d9a273">  <td>22/03/02 11:37:25</td>   <td>1569116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationsPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.NotificationsPageTest@1151e434]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:37:38</td>   <td>1581699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.NotificationsPageTest@1151e434]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="d9a273">  <td>22/03/02 11:37:38</td>   <td>1581700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationsPageTest.verifyNotificationsPageIsDisplayedCorrectly()[pri:1, instance:com.consumerweb.Testcases.NotificationsPageTest@1151e434]">verifyNotificationsPageIsDisplayedCorrectly</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:37:48</td>   <td>1591887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.NotificationsPageTest@1151e434]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="d9a273">  <td>22/03/02 11:37:48</td>   <td>1592218</td> <td>&nbsp;</td><td title="&lt;&lt;NotificationsPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.NotificationsPageTest@1151e434]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:37:50</td>   <td>1593377</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.NotificationsPageTest@1151e434]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:37:50</td>   <td>1593444</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:37:56</td>   <td>1599507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:38:08</td>   <td>1612074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:38:08</td>   <td>1612074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifySearchPageIsDisplayedCorrectly()[pri:1, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifySearchPageIsDisplayedCorrectly</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:38:08</td>   <td>1612230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:38:08</td>   <td>1612230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifyUserCanSearchByMerchantName()[pri:2, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifyUserCanSearchByMerchantName</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:38:40</td>   <td>1643786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:38:40</td>   <td>1644130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifyUserCanSearchByAmountRange()[pri:3, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifyUserCanSearchByAmountRange</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:12</td>   <td>1675875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:39:12</td>   <td>1676176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifyUserCanSearchByDate()[pri:4, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifyUserCanSearchByDate</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:45</td>   <td>1708441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:39:45</td>   <td>1709074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifyUserCanSearchByCategory()[pri:5, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifyUserCanSearchByCategory</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:47</td>   <td>1710399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:39:47</td>   <td>1710749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifyUserCanSearchByTransactionOwner()[pri:6, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifyUserCanSearchByTransactionOwner</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:48</td>   <td>1711827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:39:48</td>   <td>1712280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifyUserCanSearchByMovementType()[pri:7, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifyUserCanSearchByMovementType</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:50</td>   <td>1713327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:39:50</td>   <td>1713975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifyUserCanSearchByCurrency()[pri:8, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifyUserCanSearchByCurrency</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:51</td>   <td>1715011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:39:52</td>   <td>1715358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.userCanSearchByFiles()[pri:9, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">userCanSearchByFiles</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:53</td>   <td>1716416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>22/03/02 11:39:53</td>   <td>1716927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.verifyUserCanSearchByPaymentStatus()[pri:10, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">verifyUserCanSearchByPaymentStatus</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:54</td>   <td>1718006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:39:55</td>   <td>1718356</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.SearchPageTest@7db12bb6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 11:39:55</td>   <td>1718423</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonalSettingsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 11:40:07</td>   <td>1730937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalSettingsPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:40:20</td>   <td>1743638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 11:40:20</td>   <td>1743639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalSettingsPageTest.verifyPersonalDetailsIsDisplayedCorrectly()[pri:1, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">verifyPersonalDetailsIsDisplayedCorrectly</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:40:32</td>   <td>1755938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 11:40:32</td>   <td>1755939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalSettingsPageTest.verifyUserCanViewTransactions()[pri:3, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">verifyUserCanViewTransactions</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 11:40:34</td>   <td>1758122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 12:11:30</td>   <td>3613402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalSettingsPageTest.verifyUserCanEditPersonalDetails()[pri:4, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">verifyUserCanEditPersonalDetails</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:12:32</td>   <td>3675803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 12:12:33</td>   <td>3676801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalSettingsPageTest.verifyUserCanEditNotificationsSettings()[pri:5, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">verifyUserCanEditNotificationsSettings</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:13:36</td>   <td>3739531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 12:13:37</td>   <td>3740359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalSettingsPageTest.verifyUserCanChangeSecurityCode()[pri:6, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">verifyUserCanChangeSecurityCode</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:14:43</td>   <td>3807100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 12:14:44</td>   <td>3807601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalSettingsPageTest.verifyUserCanChangePassword()[pri:7, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">verifyUserCanChangePassword</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:15:47</td>   <td>3870328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="6f6761">  <td>22/03/02 12:15:47</td>   <td>3871126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonalSettingsPageTest.verifyUserCanChangeLanguage()[pri:8, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">verifyUserCanChangeLanguage</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:16:50</td>   <td>3933963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:16:51</td>   <td>3934773</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.PersonalSettingsPageTest@130c12b7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="98c7fe">  <td>22/03/02 12:16:51</td>   <td>3934957</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AccountSettingsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.AccountSettingsPageTest@51c668e3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="98c7fe">  <td>22/03/02 12:17:30</td>   <td>3973715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountSettingsPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.AccountSettingsPageTest@51c668e3]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:17:43</td>   <td>3986817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountSettingsPageTest@51c668e3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="98c7fe">  <td>22/03/02 12:17:43</td>   <td>3986818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountSettingsPageTest.verifyAccountSettingsPageIsDisplayedCorrectly()[pri:1, instance:com.consumerweb.Testcases.AccountSettingsPageTest@51c668e3]">verifyAccountSettingsPageIsDisplayedCorrectly</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:18:04</td>   <td>4007552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.AccountSettingsPageTest@51c668e3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="98c7fe">  <td>22/03/02 12:18:04</td>   <td>4008221</td> <td>&nbsp;</td><td title="&lt;&lt;AccountSettingsPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.AccountSettingsPageTest@51c668e3]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:18:06</td>   <td>4009500</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.AccountSettingsPageTest@51c668e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="84a89d">  <td>22/03/02 12:18:06</td>   <td>4009572</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InterComPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="84a89d">  <td>22/03/02 12:18:14</td>   <td>4017770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterComPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:18:27</td>   <td>4030820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="84a89d">  <td>22/03/02 12:18:27</td>   <td>4030821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterComPageTest.verifyInterComIsDisplayed()[pri:1, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">verifyInterComIsDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:18:43</td>   <td>4047012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="84a89d">  <td>22/03/02 12:18:44</td>   <td>4047852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InterComPageTest.verifyUserCanSearchFromArticles()[pri:2, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">verifyUserCanSearchFromArticles</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:18:54</td>   <td>4057886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="84a89d">  <td>22/03/02 12:18:54</td>   <td>4057886</td> <td>&nbsp;</td><td title="&lt;&lt;InterComPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:18:55</td>   <td>4059104</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.InterComPageTest@18df8434]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="a5a2f5">  <td>22/03/02 12:18:55</td>   <td>4059167</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PricingModelsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.PricingModelsPageTest@e350b40]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="a5a2f5">  <td>22/03/02 12:19:03</td>   <td>4066389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PricingModelsPageTest.verifyWithdrawalAndBalanceMaintenanceFeesAreDisplayed()[pri:0, instance:com.consumerweb.Testcases.PricingModelsPageTest@e350b40]">verifyWithdrawalAndBalanceMaintenanceFeesAreDisplayed</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:19:11</td>   <td>4074630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.PricingModelsPageTest@e350b40]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="a5a2f5">  <td>22/03/02 12:19:12</td>   <td>4075302</td> <td>&nbsp;</td><td title="&lt;&lt;PricingModelsPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.PricingModelsPageTest@e350b40]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:19:13</td>   <td>4076446</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.PricingModelsPageTest@e350b40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="7abbb4">  <td>22/03/02 12:19:13</td>   <td>4076510</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TranslationsPageTest.setup()[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="7abbb4">  <td>22/03/02 12:19:21</td>   <td>4084999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TranslationsPageTest.verifySuccessfulLogin()[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">verifySuccessfulLogin</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:19:33</td>   <td>4097109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="7abbb4">  <td>22/03/02 12:19:33</td>   <td>4097109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TranslationsPageTest.verifyEnglishTranslationsForPricingModelsIsCorrect()[pri:1, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">verifyEnglishTranslationsForPricingModelsIsCorrect</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:19:56</td>   <td>4119871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="7abbb4">  <td>22/03/02 12:19:56</td>   <td>4119872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TranslationsPageTest.verifySpanishTranslationsForPricingModelsIsCorrect()[pri:2, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">verifySpanishTranslationsForPricingModelsIsCorrect</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:20:29</td>   <td>4152899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="7abbb4">  <td>22/03/02 12:20:29</td>   <td>4152900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TranslationsPageTest.verifyGermanTranslationsForPricingModelsIsCorrect()[pri:3, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">verifyGermanTranslationsForPricingModelsIsCorrect</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:21:00</td>   <td>4184106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="7abbb4">  <td>22/03/02 12:21:00</td>   <td>4184106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TranslationsPageTest.changeTheLanguageBackToEnglish()[pri:4, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">changeTheLanguageBackToEnglish</td> 
  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:21:10</td>   <td>4193376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="7abbb4">  <td>22/03/02 12:21:10</td>   <td>4193377</td> <td>&nbsp;</td><td title="&lt;&lt;TranslationsPageTest.shutDown()[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>22/03/02 12:21:11</td>   <td>4194608</td> <td>&nbsp;</td><td title="&lt;&lt;ConsumerWebBaseClass.tearDown()[pri:0, instance:com.consumerweb.Testcases.TranslationsPageTest@368247b9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413623320</td>   <td></td> </tr>
</table>
